<%= stylesheet_link_tag 'home.css' %>
<%= render "header_menu" %>
<div class="main-text">
  <h2>Hello! </h2>
  <p>
    My name is Jamie McGlone. I am a Software Engineer based in Edinburgh, Scotland.
  </p>
  <p>
    I am currently working as a Support Engineer at FreeAgent, using Ruby on Rails.
  </p>
</div>