<div class="header-section">
  <ul>
    <li><a href="https://github.com/jamiemcglone", target=”_blank”><%= image_tag("github-mark-white.svg", size: "32x32") %></a></li>
    <li><a href="https://www.linkedin.com/in/jamie-mcglone-943914236", target=”_blank”><%= image_tag("linkedin-app-white-icon.webp", size: "32x32") %></a></li>
    <li><a href="mailto:jamie.mcglone@outlook.com", target=”_blank”><%= image_tag("icons8-mail-50.png", size: "32x32") %></a></li>
  </ul>
</div>